#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    border-bottom: 1px solid #F2F4F8; /*cool gray 10*/
    position: relative;
}

header::before {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    left: 100%;
    border-bottom: 1px solid #F2F4F8; /*cool gray 10*/
}

header::after {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    right: 100%;
    border-bottom: 1px solid #F2F4F8; /*cool gray 10*/
}

nav {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

button {
    margin: .25em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    font-family: 'Merriweather', serif;
    line-height: 2;
    font-weight: 400;
    border: none;
    background: #F2F4F8; /*cool gray 10*/
}

@media all and (min-width: 300px) {
    button {
        width: 30%;
        font-size: .625em; /*10*/
    }
}

@media all and (min-width: 400px) {
    button {
        font-size: .75em; /*12*/
    }
}

@media all and (min-width: 600px) {
    button {
        font-size: .875em; /*14*/
    }
}

@media all and (min-width: 900px) {
    button {
        width: 12%;
    }
}

@media all and (min-width: 1200px) {
    button {
        width: 10%;
    }
}

button:hover {
    cursor: pointer;
}

main {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start; /*main axis*/
    align-items: center; /*cross axis*/
}

section {
    margin: 2px 0;
    padding: 0 2.5%;
    background: #F2F4F8; /*cool gray 10*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    main {
        height: auto;
    }

    section {
        width: 95%;
    }
}

@media all and (min-width: 1200px) {
    main {
        height: 97.75em;
        /*23 sections per column, each 68px tall*/
        /*1564px = 97.75em*/
    }

    section {
        width: 42%;
    }
}

footer {
    width: 85%;
    margin: .5em 5%;
    padding: 0 2.5%;
    background: #F2F4F8; /*cool gray 10*/
}

/*Fonts*/
h1 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 400px) {
    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.6em;
    }
}

p {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    p {
        font-size: .625em; /*10*/
    }
}

@media all and (min-width: 400px) {
    p {
        font-size: .75em; /*12*/
    }
}

@media all and (min-width: 600px) {
    p {
        font-size: .875em; /*14*/
    }
}

@media all and (min-width: 900px) {
    p {
        font-size: 1em; /*16*/
    }
}

.detail {
    padding: .25em .5em;
}

/*Highlights button*/
.highlight {
    background: #82CFFF; /*cyan 30*/
}