img {
    width: 100%;
    height: auto;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 90%;
    margin: 2em 5% 1em 5%;
    padding: 0;
}

nav {
    width: 90%;
    margin: 1em 5% 2em 5%;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

main {
    width: 90%; /*1080px out of 1200px*/
    padding: 0;
}

/*Varied top margins are to create equal space between header, nav, and main.*/
@media all and (min-width: 300px) {
    main {
        margin: 1.39375em 5% 1em 5%;
    }
}

@media all and (min-width: 400px) {
    main {
        margin: 1.44375em 5% 1em 5%;
    }
}

@media all and (min-width: 600px) {
    main {
        margin: 1.49375em 5% 1em 5%;
    }
}

/*Clearfix with pseudo-element*/
/*In theory this is needed. In practice, it doesn't seem necessary.*/
main::after {
    clear: both;
    content: "";
    display: table;
}

@media all and (min-width: 300px) {
    main {
        column-count: 1;
        column-width: auto;
    }  
}

@media all and (min-width: 800px) {
    main {
        column-count: 2;
        height: 1679px;
        column-fill: auto;
    }  
}

@media all and (min-width: 1200px) {
    main {
        column-count: 3;
        height: initial; /*1095px;*/
        column-fill: balance;
    }   
}

section {
    width: 90%;
    margin: 0 0 .5em 0;
    padding: .5em 5%;
    background: #fafafa;
    float: left;
}

/*Fonts*/
h1 {
    line-height: 1.5;
    font-family: 'Francois One', sans-serif;
}

@media all and (min-width: 300px) {
    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 400px) {
    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.6em;
    }
}

p {
    font-size: .875em;
    line-height: 1.5;
}

.president {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.detail {
    font-family: 'Francois One', sans-serif;
    font-weight: 300;
    /*color: #fff;*/
    padding: 0 .25em;
}

@media all and (min-width: 300px) {

    .detail {
        display: inline-block;
    }
}

@media all and (min-width: 400px) {

    /*Clearfix with pseudo-element*/
    /*In theory this is needed. In practice, it doesn't seem necessary.*/
    section::after {
        clear: both;
        content: "";
        display: table;
    }

    .president {
        float: left;
        display: inline-block;
    }

    .detail {
        float: right;
        display: inline-block;
    }
}

button {
    font-size: .875em;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    border: 2px solid transparent;
    background: none;
}

button:hover {
    cursor: pointer;
}

/*Bottom border for birthplace button. When page loads, button is highlighted*/
#btn-birthplace {
    border-bottom-color: #c7c7c7;
}